<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM
	"log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="rollingFile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${config.log.tools.dir}/qos-tools.log" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE} %5p [%t]: %C{1} %m%n" />
		</layout>
	</appender>

	<appender name="ttccConsole" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE} %5p [%t]: %C{1} %m%n" />
		</layout>
	</appender>

	<logger name="com.tecomgroup.qos">
		<level value="INFO" />
	</logger>

	<logger
		name="com.tecomgroup.qos.modelspace.hibernate.QoSTransactionalManager">
		<level value="WARN" />
	</logger>

	<!-- Root -->
	<root>
		<level value="warn" />
		<appender-ref ref="rollingFile" />
<!--		<appender-ref ref="ttccConsole" /> -->
	</root>


</log4j:configuration>