.cell {
	height: auto;
	width: auto;
	min-width: 200px;
	padding: 3px 0px;
}

.header {
	color : #FFF;
	margin-bottom: 3px;
	line-height: 11px;
}

.rowIcon {
}

.key {
	color: #66B0FF;
}

.text {
	width : 80%;
	float: left;
	white-space: pre; /* CSS 2.0 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3.0 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap; /* HP Printers */
	word-wrap: break-word; /* IE 5+ */
	font: 11px tahoma,arial,verdana,sans-serif; 
}